* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #bacdd9;
  --color-dark: #4f698c;
  --text-dark: #272727;
  --text-light: #6d6d6d;
}

*:focus {
  border: none;
  border-radius: 10px;
  outline: 3px solid rgb(0, 198, 248);
}

body {
  color: var(--text-dark);
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
}

a:hover {
  border-bottom: 2px solid var(--text-dark);
}

ul {
  list-style: none;
}

select {
  padding: 0.75rem 1rem;
  border: 2px solid var(--color-light);
  border-radius: 10px;
}

.bg-light {
  background-color: var(--color-light);
}

.bg-dark {
  background-color: var(--color-dark);
}

.text-light {
  color: var(--text-light);
}

.cart-icon {
  font-weight: 600;
  font-size: 1.5rem;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}
